# Godot specific ignore
*.import/
*.imported/
*.import/
*.imported/
*.tscn.export/
*.scn.export/
*.godot
*.import
*.import.res
*.import.cfg
*.imported.res
*.imported.cfg
__pycache__/
*.sln
*.csproj
*.suo
*.user
*.userprefs
*.pidb
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta